<!-- 使用 gitcoment -->
<div id="gitment-comment">
  <%- partial('_widget/comment/' + theme.comment.use + '/main') %>
</div>
<style>
  #gitment-comment {
    padding: 2pc;
  }
</style>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/imsun/gitment@gh-pages/style/default.css"
/>
<script src="https://cdn.jsdelivr.net/gh/imsun/gitment@gh-pages/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    id: window.location.pathname,
    owner: "<%= theme.comment.gitment_owner %>",
    repo: "<%= theme.comment.gitment_repo %>",
    oauth: {
      client_id: "<%= theme.comment.gitment_client_id %>",
      client_secret: "<%= theme.comment.gitment_client_secret %>",
    },
  });
  gitment.render("container");
</script>
